    <!-- begin::Quick Nav -->
    <ul class="m-nav-sticky" style="margin-top: 30px;"> 
        <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Purchase" data-placement="left">
            <a href="javascript:;"
              target="_blank">
                <i class="la la-cart-arrow-down"></i>
            </a>
        </li>
        <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Documentation" data-placement="left">
            <a href="javascript:;" target="_blank">
                <i class="la la-code-fork"></i>
            </a>
        </li>
        <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Support" data-placement="left">
            <a href="javascript:;" target="_blank">
                <i class="la la-life-ring"></i>
            </a>
        </li>
    </ul>
    <!-- begin::Quick Nav -->
