<div class="m-grid__item m-grid__item--fluid m-wrapper">
  <div class="m-content"> 
    <div class="row">
        <div class="col-xl-6">
         	<!--begin::Portlet-->
				<div class="m-portlet m-portlet--full-height ">
            		<!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right" action="/contact" method="post">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group m--margin-top-10">
                                <div class="alert m-alert m-alert--default" role="alert">
                                contact us
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="example-text-input" >
                                    Your Name
                                </label>
                                
                                    <input class="form-control m-input" type="text" value="" name="user_name" id="example-text-input" placeholder="Enter Name">
                                
							</div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Email address
                                </label>
                                <input type="email" class="form-control m-input" name="user_email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <span class="m-form__help">
                                    We'll never share your email with anyone else.
                                </span>
                            </div>
                            
                            <div class="form-group m-form__group">
                                <label for="exampleTextarea">
                                    Example textarea
                                </label>
                                <textarea class="form-control m-input" name="user_message" id="exampleTextarea" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>                 
                   <!--end::Form-->
                </div>         
        </div>
    </div>
  </div>  
</div>
    <%- contentFor('css')%>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    <%- contentFor('js')%>
