
        
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            Dashboard
                        </h3>
                    </div>
                    <div>
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
									<span class="m-subheader__daterange-label">
										<span class="m-subheader__daterange-title"></span>
										<span class="m-subheader__daterange-date m--font-brand"></span>
									</span>
									<a href="#"
                                       class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="la la-angle-down"></i>
									</a>
								</span>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content">
                <!--Begin::Section-->
                <div class="row">
                    <div class="col-xl-5">
                        <!--Begin::Portlet-->
                        <div class="m-portlet m-portlet--full-height ">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Recent Notifications
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
                                        role="tablist">
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active" data-toggle="tab"
                                               href="#m_widget2_tab1_content" role="tab">
                                                Today
                                            </a>
                                        </li>
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link" data-toggle="tab"
                                               href="#m_widget2_tab2_content" role="tab">
                                                Month
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="m_widget2_tab1_content">
                                        <!--Begin::Timeline 3 -->
                                        <div class="m-timeline-3">
                                            <div class="m-timeline-3__items">
                                                <div class="m-timeline-3__item m-timeline-3__item--info">
															<span class="m-timeline-3__item-time">
																09:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By Bob
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--warning">
															<span class="m-timeline-3__item-time">
																10:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Lorem ipsum dolor sit amit
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By Sean
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--brand">
															<span class="m-timeline-3__item-time">
																11:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Lorem ipsum dolor sit amit eiusmdd tempor
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By James
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--success">
															<span class="m-timeline-3__item-time">
																12:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Lorem ipsum dolor
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By James
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--danger">
															<span class="m-timeline-3__item-time">
																14:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Lorem ipsum dolor sit amit,consectetur eiusmdd
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By Derrick
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--info">
															<span class="m-timeline-3__item-time">
																15:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Lorem ipsum dolor sit amit,consectetur
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By Iman
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--brand">
															<span class="m-timeline-3__item-time">
																17:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Lorem ipsum dolor sit consectetur eiusmdd tempor
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By Aziko
																	</a>
																</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End::Timeline 3 -->
                                    </div>
                                    <div class="tab-pane" id="m_widget2_tab2_content">
                                        <!--Begin::Timeline 3 -->
                                        <div class="m-timeline-3">
                                            <div class="m-timeline-3__items">
                                                <div class="m-timeline-3__item m-timeline-3__item--info">
															<span class="m-timeline-3__item-time m--font-focus">
																09:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Contrary to popular belief, Lorem Ipsum is not simply random text.
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By Bob
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--warning">
															<span class="m-timeline-3__item-time m--font-warning">
																10:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	There are many variations of passages of Lorem Ipsum available.
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By Sean
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--brand">
															<span class="m-timeline-3__item-time m--font-primary">
																11:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Contrary to popular belief, Lorem Ipsum is not simply random text.
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By James
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--success">
															<span class="m-timeline-3__item-time m--font-success">
																12:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	The standard chunk of Lorem Ipsum used since the 1500s is reproduced.
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By James
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--danger">
															<span class="m-timeline-3__item-time m--font-warning">
																14:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Latin words, combined with a handful of model sentence structures.
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By Derrick
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--info">
															<span class="m-timeline-3__item-time m--font-info">
																15:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Contrary to popular belief, Lorem Ipsum is not simply random text.
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By Iman
																	</a>
																</span>
                                                    </div>
                                                </div>
                                                <div class="m-timeline-3__item m-timeline-3__item--brand">
															<span class="m-timeline-3__item-time m--font-danger">
																17:00
															</span>
                                                    <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Lorem Ipsum is therefore always free from repetition, injected humour.
																</span>
                                                        <br>
                                                        <span class="m-timeline-3__item-user-name">
																	<a href="#"
                                                                       class="m-link m-link--metal m-timeline-3__item-link">
																		By Aziko
																	</a>
																</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End::Timeline 3 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::Portlet-->
                    </div>
                    <div class="col-xl-6">
                        <!--begin:: Widgets/Blog-->
                        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
                            <div class="m-portlet__head m-portlet__head--fit">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-action">
                                        <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                            Blog
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="m-widget19">
                                    <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides"
                                         style="min-height: 286px">
                                        <img src="assets/app/media/img//blog/blog1.jpg" alt="">
                                        <h3 class="m-widget19__title m--font-light">
                                            Introducing New Feature
                                        </h3>
                                        <div class="m-widget19__shadow"></div>
                                    </div>
                                    <div class="m-widget19__content">
                                        <div class="m-widget19__header">
                                            <div class="m-widget19__user-img">
                                                <img class="m-widget19__img" src="assets/app/media/img//users/user1.jpg"
                                                     alt="">
                                            </div>
                                            <div class="m-widget19__info">
														<span class="m-widget19__username">
															Anna Krox
														</span>
                                                <br>
                                                <span class="m-widget19__time">
															UX/UI Designer, Google
														</span>
                                            </div>
                                            <div class="m-widget19__stats">
														<span class="m-widget19__number m--font-brand">
															18
														</span>
                                                <span class="m-widget19__comment">
															Comments
														</span>
                                            </div>
                                        </div>
                                        <div class="m-widget19__body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                            scrambled it to make text of the printing and typesetting industry scrambled
                                            a type specimen book text of the dummy text of the printing printing and
                                            typesetting industry scrambled dummy text of the printing.
                                        </div>
                                    </div>
                                    <div class="m-widget19__action">
                                        <button type="button"
                                                class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:: Widgets/Blog-->
                    </div>
                </div>
                <!--End::Section-->
                <!--Begin::Section-->
                
                <!--End::Section-->
                <!--Begin::Section-->
                <div class="row">
                    
                </div>
                <!--End::Section-->
                <!--Begin::Section-->
                <div class="row">
                    
                </div>
                <!--End::Section-->
                <!--Begin::Section-->
                <div class="row">
                    <!-- <div class="col-xl-6"> -->
                        <!--begin:: Widgets/Tasks -->
                    <!--   <div class="m-portlet m-portlet--full-height ">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Tasks
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
                                        role="tablist">
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active" data-toggle="tab"
                                               href="#m_widget2_tab1_content" role="tab">
                                                Today
                                            </a>
                                        </li>
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link" data-toggle="tab"
                                               href="#m_widget2_tab2_content1" role="tab">
                                                Week
                                            </a>
                                        </li>
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link" data-toggle="tab"
                                               href="#m_widget2_tab3_content1" role="tab">
                                                Month
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="m_widget2_tab1_content">
                                        <div class="m-widget2">
                                            <div class="m-widget2__item m-widget2__item--primary">
                                                <div class="m-widget2__checkbox">
                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                                        <input type="checkbox">
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="m-widget2__desc">
															<span class="m-widget2__text">
																Make Metronic Great  Again.Lorem Ipsum Amet
															</span>
                                                    <br>
                                                    <span class="m-widget2__user-name">
																<a href="#" class="m-widget2__link">
																	By Bob
																</a>
															</span>
                                                </div>
                                                <div class="m-widget2__actions">
                                                    <div class="m-widget2__actions-nav">
                                                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                                             m-dropdown-toggle="hover">
                                                            <a href="#" class="m-dropdown__toggle">
                                                                <i class="la la-ellipsis-h"></i>
                                                            </a>
                                                            <div class="m-dropdown__wrapper">
                                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                                <div class="m-dropdown__inner">
                                                                    <div class="m-dropdown__body">
                                                                        <div class="m-dropdown__content">
                                                                            <ul class="m-nav">
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                                                        <span class="m-nav__link-text">
																									Activity
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                                        <span class="m-nav__link-text">
																									Messages
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                                                        <span class="m-nav__link-text">
																									FAQ
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                                        <span class="m-nav__link-text">
																									Support
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-widget2__item m-widget2__item--warning">
                                                <div class="m-widget2__checkbox">
                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                                        <input type="checkbox">
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="m-widget2__desc">
															<span class="m-widget2__text">
																Prepare Docs For Metting On Monday
															</span>
                                                    <br>
                                                    <span class="m-widget2__user-name">
																<a href="#" class="m-widget2__link">
																	By Sean
																</a>
															</span>
                                                </div>
                                                <div class="m-widget2__actions">
                                                    <div class="m-widget2__actions-nav">
                                                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                                             m-dropdown-toggle="hover">
                                                            <a href="#" class="m-dropdown__toggle">
                                                                <i class="la la-ellipsis-h"></i>
                                                            </a>
                                                            <div class="m-dropdown__wrapper">
                                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                                <div class="m-dropdown__inner">
                                                                    <div class="m-dropdown__body">
                                                                        <div class="m-dropdown__content">
                                                                            <ul class="m-nav">
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                                                        <span class="m-nav__link-text">
																									Activity
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                                        <span class="m-nav__link-text">
																									Messages
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                                                        <span class="m-nav__link-text">
																									FAQ
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                                        <span class="m-nav__link-text">
																									Support
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-widget2__item m-widget2__item--brand">
                                                <div class="m-widget2__checkbox">
                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                                        <input type="checkbox">
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="m-widget2__desc">
															<span class="m-widget2__text">
																Make Widgets Great Again.Estudiat Communy Elit
															</span>
                                                    <br>
                                                    <span class="m-widget2__user-name">
																<a href="#" class="m-widget2__link">
																	By Aziko
																</a>
															</span>
                                                </div>
                                                <div class="m-widget2__actions">
                                                    <div class="m-widget2__actions-nav">
                                                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                                             m-dropdown-toggle="hover">
                                                            <a href="#" class="m-dropdown__toggle">
                                                                <i class="la la-ellipsis-h"></i>
                                                            </a>
                                                            <div class="m-dropdown__wrapper">
                                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                                <div class="m-dropdown__inner">
                                                                    <div class="m-dropdown__body">
                                                                        <div class="m-dropdown__content">
                                                                            <ul class="m-nav">
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                                                        <span class="m-nav__link-text">
																									Activity
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                                        <span class="m-nav__link-text">
																									Messages
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                                                        <span class="m-nav__link-text">
																									FAQ
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                                        <span class="m-nav__link-text">
																									Support
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-widget2__item m-widget2__item--success">
                                                <div class="m-widget2__checkbox">
                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                                        <input type="checkbox">
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="m-widget2__desc">
															<span class="m-widget2__text">
																Make Metronic Great Again.Lorem Ipsum
															</span>
                                                    <br>
                                                    <span class="m-widget2__user-name">
																<a href="#" class="m-widget2__link">
																	By James
																</a>
															</span>
                                                </div>
                                                <div class="m-widget2__actions">
                                                    <div class="m-widget2__actions-nav">
                                                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                                             m-dropdown-toggle="hover">
                                                            <a href="#" class="m-dropdown__toggle">
                                                                <i class="la la-ellipsis-h"></i>
                                                            </a>
                                                            <div class="m-dropdown__wrapper">
                                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                                <div class="m-dropdown__inner">
                                                                    <div class="m-dropdown__body">
                                                                        <div class="m-dropdown__content">
                                                                            <ul class="m-nav">
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                                                        <span class="m-nav__link-text">
																									Activity
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                                        <span class="m-nav__link-text">
																									Messages
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                                                        <span class="m-nav__link-text">
																									FAQ
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                                        <span class="m-nav__link-text">
																									Support
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-widget2__item m-widget2__item--danger">
                                                <div class="m-widget2__checkbox">
                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                                        <input type="checkbox">
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="m-widget2__desc">
															<span class="m-widget2__text">
																Completa Financial Report For Emirates Airlines
															</span>
                                                    <br>
                                                    <span class="m-widget2__user-name">
																<a href="#" class="m-widget2__link">
																	By Bob
																</a>
															</span>
                                                </div>
                                                <div class="m-widget2__actions">
                                                    <div class="m-widget2__actions-nav">
                                                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                                             m-dropdown-toggle="hover">
                                                            <a href="#" class="m-dropdown__toggle">
                                                                <i class="la la-ellipsis-h"></i>
                                                            </a>
                                                            <div class="m-dropdown__wrapper">
                                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                                <div class="m-dropdown__inner">
                                                                    <div class="m-dropdown__body">
                                                                        <div class="m-dropdown__content">
                                                                            <ul class="m-nav">
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                                                        <span class="m-nav__link-text">
																									Activity
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                                        <span class="m-nav__link-text">
																									Messages
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                                                        <span class="m-nav__link-text">
																									FAQ
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                                        <span class="m-nav__link-text">
																									Support
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-widget2__item m-widget2__item--info">
                                                <div class="m-widget2__checkbox">
                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                                        <input type="checkbox">
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="m-widget2__desc">
															<span class="m-widget2__text">
																Completa Financial Report For Emirates Airlines
															</span>
                                                    <br>
                                                    <span class="m-widget2__user-name">
																<a href="#" class="m-widget2__link">
																	By Sean
																</a>
															</span>
                                                </div>
                                                <div class="m-widget2__actions">
                                                    <div class="m-widget2__actions-nav">
                                                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                                             m-dropdown-toggle="hover">
                                                            <a href="#" class="m-dropdown__toggle">
                                                                <i class="la la-ellipsis-h"></i>
                                                            </a>
                                                            <div class="m-dropdown__wrapper">
                                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                                <div class="m-dropdown__inner">
                                                                    <div class="m-dropdown__body">
                                                                        <div class="m-dropdown__content">
                                                                            <ul class="m-nav">
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                                                        <span class="m-nav__link-text">
																									Activity
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                                        <span class="m-nav__link-text">
																									Messages
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                                                        <span class="m-nav__link-text">
																									FAQ
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link">
                                                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                                        <span class="m-nav__link-text">
																									Support
																								</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="m_widget2_tab2_content"></div>
                                    <div class="tab-pane" id="m_widget2_tab3_content"></div>
                                </div>
                            </div>
                        </div>
                        --> 
                        <!--end:: Widgets/Tasks -->
                   <!--  </div> -->
                    
                    <!-- <div class="col-xl-6"> -->
                        <!--begin:: Widgets/Support Tickets -->
                      <!--  <div class="m-portlet m-portlet--full-height ">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Support Tickets
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                            m-dropdown-toggle="hover" aria-expanded="true">
                                            <a href="#"
                                               class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
                                                <i class="la la-ellipsis-h m--font-brand"></i>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="m-nav">
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                                        <span class="m-nav__link-text">
																					Activity
																				</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                        <span class="m-nav__link-text">
																					Messages
																				</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                                        <span class="m-nav__link-text">
																					FAQ
																				</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                        <span class="m-nav__link-text">
																					Support
																				</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="m-widget3">
                                    <div class="m-widget3__item">
                                        <div class="m-widget3__header">
                                            <div class="m-widget3__user-img">
                                                <img class="m-widget3__img" src="assets/app/media/img/users/user1.jpg"
                                                     alt="">
                                            </div>
                                            <div class="m-widget3__info">
														<span class="m-widget3__username">
															Melania Trump
														</span>
                                                <br>
                                                <span class="m-widget3__time">
															2 day ago
														</span>
                                            </div>
                                            <span class="m-widget3__status m--font-info">
														Pending
													</span>
                                        </div>
                                        <div class="m-widget3__body">
                                            <p class="m-widget3__text">
                                                Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy
                                                nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="m-widget3__item">
                                        <div class="m-widget3__header">
                                            <div class="m-widget3__user-img">
                                                <img class="m-widget3__img" src="assets/app/media/img/users/user4.jpg"
                                                     alt="">
                                            </div>
                                            <div class="m-widget3__info">
														<span class="m-widget3__username">
															Lebron King James
														</span>
                                                <br>
                                                <span class="m-widget3__time">
															1 day ago
														</span>
                                            </div>
                                            <span class="m-widget3__status m--font-brand">
														Open
													</span>
                                        </div>
                                        <div class="m-widget3__body">
                                            <p class="m-widget3__text">
                                                Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy
                                                nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.Ut
                                                wisi enim ad minim veniam,quis nostrud exerci tation ullamcorper.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="m-widget3__item">
                                        <div class="m-widget3__header">
                                            <div class="m-widget3__user-img">
                                                <img class="m-widget3__img" src="assets/app/media/img/users/user5.jpg"
                                                     alt="">
                                            </div>
                                            <div class="m-widget3__info">
														<span class="m-widget3__username">
															Deb Gibson
														</span>
                                                <br>
                                                <span class="m-widget3__time">
															3 weeks ago
														</span>
                                            </div>
                                            <span class="m-widget3__status m--font-success">
														Closed
													</span>
                                        </div>
                                        <div class="m-widget3__body">
                                            <p class="m-widget3__text">
                                                Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy
                                                nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <!--end:: Widgets/Support Tickets -->
                  <!--  </div> -->
                    
                </div>
                <!--End::Section-->
                <!--Begin::Section-->
                <div class="row">
                  <!--   <div class="col-xl-6 col-lg-12"> -->
                        <!--Begin::Portlet-->
                        <!--
                        <div class="m-portlet  m-portlet--full-height ">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Recent Activities
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                            m-dropdown-toggle="hover" aria-expanded="true">
                                            <a href="#"
                                               class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
                                                <i class="la la-ellipsis-h m--font-brand"></i>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="m-nav">
                                                                <li class="m-nav__section m-nav__section--first">
																			<span class="m-nav__section-text">
																				Quick Actions
																			</span>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                                        <span class="m-nav__link-text">
																					Activity
																				</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                        <span class="m-nav__link-text">
																					Messages
																				</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                                        <span class="m-nav__link-text">
																					FAQ
																				</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                        <span class="m-nav__link-text">
																					Support
																				</span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                                                <li class="m-nav__item">
                                                                    <a href="#"
                                                                       class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                                        Cancel
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide"
                                     data-scrollbar-shown="true" data-scrollable="true" data-max-height="380"
                                     style="overflow: visible; height: 380px; max-height: 380px; position: relative;">
                                    --> 
                                    <!--Begin::Timeline 2 -->
                                    <!--
                                    <div class="m-timeline-2">
                                        <div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">
                                            <div class="m-timeline-2__item">
														<span class="m-timeline-2__item-time">
															10:00
														</span>
                                                <div class="m-timeline-2__item-cricle">
                                                    <i class="fa fa-genderless m--font-danger"></i>
                                                </div>
                                                <div class="m-timeline-2__item-text  m--padding-top-5">
                                                    Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                                                    <br>
                                                    incididunt ut labore et dolore magna
                                                </div>
                                            </div>
                                            <div class="m-timeline-2__item m--margin-top-30">
														<span class="m-timeline-2__item-time">
															12:45
														</span>
                                                <div class="m-timeline-2__item-cricle">
                                                    <i class="fa fa-genderless m--font-success"></i>
                                                </div>
                                                <div class="m-timeline-2__item-text m-timeline-2__item-text--bold">
                                                    AEOL Meeting With
                                                </div>
                                                <div class="m-list-pics m-list-pics--sm m--padding-left-20">
                                                    <a href="#">
                                                        <img src="assets/app/media/img/users/100_4.jpg" title="">
                                                    </a>
                                                    <a href="#">
                                                        <img src="assets/app/media/img/users/100_13.jpg" title="">
                                                    </a>
                                                    <a href="#">
                                                        <img src="assets/app/media/img/users/100_11.jpg" title="">
                                                    </a>
                                                    <a href="#">
                                                        <img src="assets/app/media/img/users/100_14.jpg" title="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="m-timeline-2__item m--margin-top-30">
														<span class="m-timeline-2__item-time">
															14:00
														</span>
                                                <div class="m-timeline-2__item-cricle">
                                                    <i class="fa fa-genderless m--font-brand"></i>
                                                </div>
                                                <div class="m-timeline-2__item-text m--padding-top-5">
                                                    Make Deposit
                                                    <a href="#" class="m-link m-link--brand m--font-bolder">
                                                        USD 700
                                                    </a>
                                                    To ESL.
                                                </div>
                                            </div>
                                            <div class="m-timeline-2__item m--margin-top-30">
														<span class="m-timeline-2__item-time">
															16:00
														</span>
                                                <div class="m-timeline-2__item-cricle">
                                                    <i class="fa fa-genderless m--font-warning"></i>
                                                </div>
                                                <div class="m-timeline-2__item-text m--padding-top-5">
                                                    Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                                                    <br>
                                                    incididunt ut labore et dolore magna elit enim at minim
                                                    <br>
                                                    veniam quis nostrud
                                                </div>
                                            </div>
                                            <div class="m-timeline-2__item m--margin-top-30">
														<span class="m-timeline-2__item-time">
															17:00
														</span>
                                                <div class="m-timeline-2__item-cricle">
                                                    <i class="fa fa-genderless m--font-info"></i>
                                                </div>
                                                <div class="m-timeline-2__item-text m--padding-top-5">
                                                    Placed a new order in
                                                    <a href="#" class="m-link m-link--brand m--font-bolder">
                                                        SIGNATURE MOBILE
                                                    </a>
                                                    marketplace.
                                                </div>
                                            </div>
                                            <div class="m-timeline-2__item m--margin-top-30">
														<span class="m-timeline-2__item-time">
															16:00
														</span>
                                                <div class="m-timeline-2__item-cricle">
                                                    <i class="fa fa-genderless m--font-brand"></i>
                                                </div>
                                                <div class="m-timeline-2__item-text m--padding-top-5">
                                                    Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                                                    <br>
                                                    incididunt ut labore et dolore magna elit enim at minim
                                                    <br>
                                                    veniam quis nostrud
                                                </div>
                                            </div>
                                            <div class="m-timeline-2__item m--margin-top-30">
														<span class="m-timeline-2__item-time">
															17:00
														</span>
                                                <div class="m-timeline-2__item-cricle">
                                                    <i class="fa fa-genderless m--font-danger"></i>
                                                </div>
                                                <div class="m-timeline-2__item-text m--padding-top-5">
                                                    Received a new feedback on
                                                    <a href="#" class="m-link m-link--brand m--font-bolder">
                                                        FinancePro App
                                                    </a>
                                                    product.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                    <!--End::Timeline 2 -->
                                </div>
                            </div>
                        </div>
                        <!--End::Portlet-->
                    </div>
                    
                </div>
                <!--End::Section-->
                <!--Begin::Section-->
                <div class="row">
                    
                </div>
                <!--End::Section-->
                <!--Begin::Section-->
                <div class="row">

                </div>
                <!--End::Section-->
            </div>
        </div>

    <%- contentFor('css')%>

    <%- contentFor('js')%>
