<div class="m-grid__item m-grid__item--fluid m-wrapper">
  <div class="m-content"> 
    <div class="row">
        <div class="col-xl-12">
         	<!--begin::Portlet-->
				<div class="m-portlet m-portlet--full-height ">
            		<h1>Thank you for contacting us . we'll get back to you soon . </h1>
                </div>         
        </div>
    </div>
  </div>  
</div>
    <%- contentFor('css')%>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    <%- contentFor('js')%>
